<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Corredores por la Rioja{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
