<footer id="footer" role="contentinfo" class="footer grey-bg">
    <div class="container">
        <div class="powered-by">
            <a class="" href="https://github.com/catirado/CorredoresPorLaRioja" target="_blank" rel="nofollow">corredoresrioja</a> powered by <strong>Carlos Tirado</strong>
        </div>
    </div>
</footer>