

<header>
<ul>
    <li><a href="{{ path('homepage') }}">Inicio</a></li>
    <li><a href="{{ path('races') }}">Carrreras</a></li>
    <li><a href="{{ path('races') }}">Carrreras</a></li>
    <li>Login</li>
</ul>
</header>