{% extends 'runners.html.twig' %}

{% block body %}
    <div id="content" class="content-wrap">
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text">{{'races.nextsraces'|trans({},'common')}}</h2>
                <div class="colored-line"></div>                                 
            </div>
            <div class="post-list">
            {% for race in racesNonDisputed %}
                {% include 'RunnersBundle:Races:race_listitem.html.twig' with{'race': race} %}
            {% endfor %}
            </div>
            <div class="section-header">
                <h2 class="dark-text">{{'races.oldraces'|trans({},'common')}}</h2>
                <div class="colored-line"></div>                                 
            </div>
            <div class="post-list">
            {% for race in racesDisputed %}
                {% include 'RunnersBundle:Races:race_listitem.html.twig' with{'race': race} %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}