{% extends 'runners.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="main">
      
      <h3>Please Log In, or <a href="{{path('signup')}}">Sign Up</a></h3>
      <div class="login-or">
        <hr class="hr-or">
      </div>
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>    
      {% endif %}
      <form role="form" action="{{path('login_check')}}" method="post">
        <div class="form-group">
          <label for="inputUsernameEmail">Username or email</label>
          <input type="text" class="form-control" id="username" name="_username" value="{{last_username}}">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="password" name="_password">
        </div>
        <button type="submit" style="width:100%">Log In</button>
      </form>
    <br/>
    </div>
    
  </div>
</div>

{%endblock%}